* {
    padding: 0rem;
    margin: 0rem;
}

:root {
    --color-bg: #343541;
    --color-bg-alt: #202123;
    --color-card: #40414f;
    --color-text-primary: #ececf1;
    --color-text-secondary: #9ca3af;
    --color-accent: #10a37f;
    --color-accent-bright: #19c37d;
    --color-link-hover: #19c37d;
    }